<div class="container">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput required [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field *ngIf="isRegister">
    <mat-label>E-mail</mat-label>
    <input type="email" matInput required [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput required [(ngModel)]="password">
  </mat-form-field>
  <mat-form-field *ngIf="isRegister">
    <mat-label>Confirm password</mat-label>
    <input type="password" matInput required [(ngModel)]="confirmPassword">
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button class="theme first-btn" (click)="login()" *ngIf="!isRegister">LOGIN</button>
    <button mat-raised-button class="theme first-btn" (click)="register()" *ngIf="isRegister">REGISTER</button>
  </div>

  <div class="buttons">
    <button mat-raised-button class="second-btn" (click)="login()" style="width: 80px" *ngIf="isRegister">LOGIN</button>
    <button mat-raised-button class="second-btn" (click)="register()" *ngIf="!isRegister">REGISTER</button>
  </div>
</div>
