p {
  text-transform: capitalize;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}
.id {
  text-transform: uppercase;
}
.table {
  width: 100%;
  text-align: center;
  color: white;
  background: royalblue;
}
th.mat-header-cell {
  text-align: center;
  color: white;
}
td.mat-cell {
  text-align: center;
  color: white;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.search {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

label {
  width: 38%;
  margin-bottom: 0;
}
button {
  outline: none;
  color: white;
  background: royalblue;
}
input {
  width: 100%;
  font-size: 20px;
}
mat-card {
  color: white;
  background: royalblue;
  margin: 10px 0
}


