/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*a {*/
/*  color: #0366d6;*/
/*}*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



code {
  color: #e01a76;
}

a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
a:hover {
  color: #ffe0bc;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

button {
  color: white;
  background: royalblue;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.theme {
  color: white;
  background: royalblue;
}
