<div class="container">
  <h1 mat-dialog-title>{{getTitle()}}</h1>
  <div mat-dialog-content>
    <p *ngIf="data.action === 'delete'">Are you sure you want to delete {{data.book.title | titlecase}}?</p>
    <div *ngIf="data.action === 'edit' || data.action === 'add'" style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput required [(ngModel)]="data.book.title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <input matInput required [(ngModel)]="data.book.genre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Authors</mat-label>

        <textarea matInput required
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="authors"
        >
      </textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select required [(value)]="data.book.library">
          <mat-option *ngFor="let option of options" [value]="option">{{option.displayedAddress}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Release date</mat-label>
        <input matInput required [matDatepicker]="picker" [(ngModel)]="data.book.published">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button *ngIf="data.action === 'edit' || data.action === 'add'" (click)="save()"
            [ngStyle]="{'color': 'white', 'background': isDisabled() ? 'grey' : 'royalblue'}" [disabled]="isDisabled()">
      Save
    </button>
    <button mat-raised-button *ngIf="data.action === 'delete'" (click)="delete()" color="warn">Delete</button>
  </div>
</div>
