<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 theme"
    style="padding: 0"
  >
    <div class="container theme">
      <a [routerLink]="['/']"><h3>Library</h3></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <button mat-button>
              <a [routerLink]="['/']">Home</a>
            </button>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button mat-button>
              <a [routerLink]="['/books']">Books</a>
            </button>
          </li>
          <li class="nav-item">
            <button mat-button (click)="redirect()">
              <mat-icon >login</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
